
@font-face {
  font-family: "Flaviotte";
  src: url("/fonts/Flaviotte.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Maghfirea';
  src: url("/fonts/Maghfirea-VGgl6.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: 'Ubuntu';
  src: url("/fonts/Ubuntu-Regular.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Cloudy";
  src: url("/fonts/Cloudy Aurora Serif.otf") format("opentype");
}
.parallaxWrapper {
  background-color: #fffff0;
}
.parallax-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Makes sure the image covers without stretching */
  object-position: center -160px;
  display: block;
}
.parallax div {
  /* inset: 0 0 !important; */
  inset: 0px 0px 0px !important;
  background-position: 50% 100% !important;
}

.parallax div h1 {
  position: relative;
}
.parallax div .name {
  font-family: "Maghfirea", sans-serif;
}
.parallax div .studio {
  font-family: "Flaviotte", sans-serif;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animate-spin-slow {
  animation: spin-slow 6s linear infinite;
  will-change: transform, opacity;
}
@keyframes spin-slow2 {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.animate-spin-slow2 {
  animation: spin-slow2 6s linear infinite;
  will-change: transform, opacity;
}

/* .divider {
  background-image: url("./assets/divider1.png");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 23px;
  max-width: 1000px;
} */



.circle-text {
  display: inline-block;
  transform-origin: center center;
  /* animation: rotateClockwise 1.5s ease-out forwards; */
}

@keyframes rotateClockwise {
  from {
    transform: rotate(-90deg);
    opacity: 0;
  }
  to {
    transform: rotate(0deg);
    opacity: 1;
  }
}



/* for input */
.search-input[type="range"] {
  -webkit-appearance: none; 
}

/* Thumb */
.search-input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none; /* Required */
  background-color: #b9900d; /* Thumb color */
  width: 20px; /* Must define size */
  height: 20px; /* Must define size */
  border-radius: 50%; /* Rounded */
  margin-top: -6px; /* vertically center */
}

/* Track */
.search-input[type="range"]:-webkit-slider-runnable-track {
 background-color: #d1d5db; /* Track color */
 height: 7px;
 border-radius: 9999px;
}
/* * shop page */ 
@media (max-width :360px){
 .shop-page-products{
   width: 329px;
 }
}
/* * #b9900d */ 